/*Variables*/
:root{
    --black-blue: #021024;
    --dark-blue: #052659;
    --medium-blue: #5483B3;
    --light-blue: #7DA0CA;
    --white-blue: #C1E8FF;
    --main-font: "Afacad Flux", serif;
}
/*Easter egg*/
body#pag-avanzado #easter-egg{
    display: none;
}
@media all and (width: 100px) {
    body#pag-avanzado{
        margin: 0;
        padding: 0;
    }
    body#pag-avanzado *{
        display: none;
    }
    body#pag-avanzado #easter-egg{
        display: block;
        margin: 0;
        padding: 0;
        width: 90px;
    }
}
/*Mobile*/
body{
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
}
main{
    background-color: var(--white-blue);
    color: var(--black-blue);
    
}